body
{
    font-family: Arial, sans-serif;
    background-color: #e786df;
    text-align: center;
    margin: 0;
    padding: 0;
}
.contenedor{

    background-color: white;
    width: 700px;
    padding: 220px;
    margin: 150px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 50px;
    color: #333;
}

